<div class="header">
    <div class="container">
      <ul class="pull-left">
        <li><a href="#">Elaine Chang</a></li>
      </ul>
      <ul class="pull-right">
        <li><a href="#">Welcome</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>

<div class="main">
  <div class="container">
    <img src="https://photos-3.dropbox.com/t/2/AADES63tsgDWdP7zl4yDpLpP5xNLQktKOowWoMalDnyNcw/12/137588524/jpeg/32x32/1/_/1/2/Panda.jpg/ENvsuGkY3A0gASgB/MMIQbSHMUYG8Z4sA1eq98xFOx1rx7iOGLsFFG3ff358?size=1024x768&size_mode=2" width="150">
    <h2>I am a Tulane student majoring in Psychology and Computer Science. This site has some of my work coding.</h2>
  </div>
</div>

<div class="footer">
    <div class="container">
      <ul class="pull-left">
        <li><a href="#"><img src="https://photos-5.dropbox.com/t/2/AAApcFqeZaTjOkrd4JGbWxwENRwfdrbk5M-QGsFPWy8YVA/12/137588524/png/32x32/1/_/1/2/symbol44.png/ENvsuGkY4g0gASgB/dUbnyHXCpgjOt-2Z2hd9hfODAhPRjOtITirSSaAi2f4?size=1024x768&size_mode=2" width = "10"></a></li>
        <li><a href="#">2015 Elaine Chang</a></li>
      </ul>
      <ul class="pull-right">
        <li><a href="#"><img src="https://photos-1.dropbox.com/t/2/AAAokDuzBglBYOtJv3Rz7-esMKXu34hb9dBaO_m-vLXgjQ/12/137588524/png/32x32/1/_/1/2/github10.png/ENvsuGkY4A0gASgB/Ni7DxvPZBSSIjRbOtMzoF1EfQ_eQeAlmMJgUi0cmDlc?size=1024x768&size_mode=2"></a></li>
        <li><a href="#"><img src="https://photos-5.dropbox.com/t/2/AACUJ-RhNcsi70vIUe56cmSjRujUmfSi-VVWTYi0tc1Wow/12/137588524/png/32x32/1/_/1/2/linkedin12.png/ENvsuGkY3g0gASgB/iSgEtwvdIt9_qn8F00MQRt_q9QqBiyDAQYZODUyo4TI?size=1024x768&size_mode=2"></a></li>
      </ul>
    </div>
  </div>
